*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color: darkslategrey;
}
.container{
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  width: 100%;
  display: flex;
  justify-content: center;
}
main section{
  width: 60%;
}
main section form{
  font-size: 1.5rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: aqua;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.5);
}
main section form input[type="submit"]{
  padding: 0.5rem 0;
  font-weight: bold;
  margin-top: 1rem;
}
textarea{
  height: 15rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
select{
  padding: 1rem 0;
  font-weight: bold;
}