*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: sans-serif;
}
.container{
  max-width: 1200px;
  margin: auto;
}
main{
  width: 100%;
  font-size: 1.5rem;
}
.image img{
  width: 40%;
  height: auto;
}
.image{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.image a{
  text-decoration: none;
}
.feed-back{
  width: 100%;
  margin: 1rem 0;
}
.feed-back form{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.search-form{
  font-size: 1.5rem;
}
.search-form input{
  font-size: 1.5rem;
  padding: 0.5rem;
}
.feed-back form input{
  padding: 0.5rem;
  font-size: 1.5rem;
}
.feed-back form textarea{
  height: 5rem;
  font-size: 1.5rem;
}