*{
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background-color: pink;
}
#heading{
  text-align: center;
  margin: 10px 0px;
  color: brown;
}
.about-section{
  padding: 0px 10px;
  letter-spacing: -1px;
  line-height: 1.25;
  color: darkslategray;
}