*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body{
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}
.main-container{
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  background-color: aqua;
}
.content-section{
  max-width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.card-1, .card-2,.card-3,.card-4{
  height: 25%;
  width: 100%;
  display: flex;
  background-color: yellowgreen;
}
.card-1 figure, .card-2 figure, .card-3 figure, .card-4 figure{
  height: 100%;
  width: 40%;
}
.card-1 figure img, .card-2 figure img, .card-3 figure img, .card-4 figure img{
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.text-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-left: 1rem;
}
.text-content h1{
  font-size: 2rem;
  letter-spacing: -2px;
}
.text-content p{
  font-size: 1.5rem;
  letter-spacing: -1px;
}
.btn{
  border: none;
  letter-spacing: -1px;
  font-weight: bold;
  padding: 1.5rem 2rem;
  background-color: #2d2d8a;
  cursor: pointer;
  color: #cab9b9;
  display: inline-block;
}
@media (max-width: 576px){
  .card-1, .card-2, .card-3, .card-4{
    flex-direction: column;
  }
}

